.control {
  border-top: 1px solid #E6E6EB;
  padding-top: 26px;
}

.leftArrow {
  margin: 0 5px 6px 0;
}

.rightArrow {
  margin: 0 0 5px 6px;
}

.preBtn[data-active="false"] {
  display: none;
}

// button.next-btn[data-active="false"] {
//   border-color: var(--progress-undone-color);
//   color: var(--progress-undone-color);
//   cursor: not-allowed;
// }