.progress-control {
  border-top: 1px solid #E6E6EB;
  padding-top: 26px;
}

.left-arrow {
  margin: 0 5px 6px 0;
}

.right-arrow {
  margin: 0 0 5px 6px;
}

button.pre-btn[data-active="false"] {
  border-color: var(--progress-undone-color);
  color: var(--progress-undone-color);
  cursor: not-allowed;
}

